* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #f7edff;
}
.buttons {
  margin: 50px;
}
.buttons button {
  background-color: #333;
  color: #fff;
  border: 0;
  outline: 0;
  width: 120px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}
.toast-box {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}
.toast {
  width: 400px;
  height: 80px;
  background-color: #fff;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;
}
.ri-checkbox-circle-fill {
  background-color: white;
  color: rgb(12, 164, 12);
  font-size: 35px;
  margin: 0 20px;
}
.ri-close-circle-fill {
  background-color: white;
  color: red;
  font-size: 35px;
  margin: 0 20px;
}
.ri-error-warning-fill {
  background-color: white;
  color: orange;
  font-size: 35px;
  margin: 0 20px;
}
.toast::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  background-color: green;
  animation: progress 6s linear forwards;
  -webkit-animation: progress 6s linear forwards;
}
@keyframes progress {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
.error::after {
  background-color: red;
}
.invalid::after {
  background-color: orange;
}
