body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
#container
{
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;

}
#heading
{
    margin: 0;
    padding: 0;
    background-color: blue;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-family: cursive;
}
textarea
{
    width: 96%;
    padding: 20px;
    box-sizing :content-box;
    font-size: 35px;
height : 266px;

}
p
{
    font-size: 35px;
}
#char,#word
{
    background-color: yellow;
    border-radius: 12px;
}