body
{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#container
{
    margin-top: 200px;
    background-color: orange;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items:center;
 height: 250px;
}
.temp
{
    display: flex;
    flex-direction: column;
}
#input
{
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    justify-content: center;
}
label
{
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
}
.tem
{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    margin: 2px 10px;
    
}
h1
{
    font-size: 50px;
    font-family: cursive;
}